*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #eee;
}

:root{
  --blue-light: #add8e6;
  --blue: #1d1de7;
}

h1{
  font-size: 60px;
}
header{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 600px;
  position: relative;
  
}
.score{
  
  & span{
    font-size: 30px;
    font-weight: bold;
    color: lightseagreen
  }
  
  & .score-value{
    display: inline-block;
    color: lightblue;
    text-shadow: 0 0 3px var(--blue-light);
    letter-spacing: 2px;
    animation: score 1s infinite alternate ease;
  }
}

.score-position{
  position: absolute;
  right: 5px;
}

.menu-game-over{
  position: absolute;
  display: inherit;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: all 150ms ease-in-out;
  /* transition-delay: 300ms; */
  z-index: 1;
  & button{
    border: none;
    outline: none;
    font-size: 20px;
    padding: 15px 10px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    color: var(--blue);
    text-shadow: 1px 1px 8px var(--blue);
    width: 100%;
    transition: inherit;
    &:hover{
      transform: scale(1.03) translate(2%, 1%);
    }
  }
}

@keyframes score{
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.2);
  }
}
.none{
  z-index: -1;
  opacity: 0;
}

.game-over-blur{
  filter: blur(5px)
}

canvas{
  box-sizing: content-box;
  background-color: #222;
  border: 5px solid var(--blue);
  box-shadow: 1px 1px 4px var(--blue-light);
}